.blue-box {
    background-color: #045299;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 160px;
    margin: 0 auto;
}

.card-label {
    text-align: center;
    font-size: 14px;
}
